<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <a href="/pokemon/favoris">aller vers les favoris</a>
    <ul>
      <% pokemon.forEach(pokemon => { %>
        <li><a href=<%=`/pokemon/${pokemon.name}`%>> <%= pokemon.name %> </a></li>
      <% }); %>
    </ul>
  </body>
</html>
