<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            border: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 60%;
            margin: 0 auto;
        }
        button {
            margin: 20px 0;
        }
    </style>
</head>
<body>
<div class="container">
    <img src=<%=pokemon.sprites.front_shiny%> alt="">
    <%= pokemon.name %>
    <button onclick=<%addFavori%>>Ajouter en favori</button>
</div>

</body>
</html>